<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Select Account Type</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input id="inp0" class="btn btn-primary" type="button" value="Active" onclick="location.href='{% url 'custom_registration' reg_type='active' %}';" />
        <input id="inp1" class="btn btn-primary" type="button" value="Pledge" onclick="location.href='{% url 'custom_registration' reg_type='pledge' %}';" />
        <input id="inp2" class="btn btn-primary" type="button" value="Alumnus" onclick="location.href='{% url 'custom_registration' reg_type='alumni' %}'" />
      </div>
    </div>
  </div>
</div>