<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'open/css/style.css' %}">

    <title>Iota WebApp</title>
</head>
<body class="d-flex flex-column h-100">
    <header>
        {% if is_authenticated %}
            {% include 'chapter/components/navbar.html' %}
        {% else %}
            {% include 'open/components/navbar.html' %}
        {% endif %}
    </header>

    <div class="container h-100">
        {% block content %}
        {% endblock %}
    </div>


<footer class="footer" style="background-color: #3E453D">
    <div class="container-fluid" style="background-color: #3E453D; color: #FAF6CA;">
        {% if is_authenticated %}
            {% include 'chapter/components/footer.html' %}
        {% else %}
            {% include 'open/components/footer.html' %}
        {% endif %}
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</body>
</html>